*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	background: #f0f0f0;
	font: 14px/20px Arial, San-Serif;
	color: #555;
	margin: 0;
}
h1{
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 5% 0;
}
h2{
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
}
h3{
	line-height: 110%;
	padding: 5% 0;
}
p{
	padding: 1%;
}
img{
	text-align: center;
	max-width: 100%
	height: auto;
	width: auto;
}
a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
header{
	height: 86px;
	opacity: .90;
	z-index: 100;
}
header nav ul li a.active{
	background-color: #2929a3;
}
section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
section.clock{
	width: 28%;
}
.clear{
	clear: both;
}
footer{
	background-color: #333;
	width:100%;
	height: auto;
	opacity: .90;
	overflow: hidden;
}
footer p, footer h3{
	color: #fff;
}
footer p a{
	color: #fff;
	list-style-type: none;
	text-decoration: none;
}

ul.social li{
	display: inline;
}
ul.social li img{
	height: 50px;
}
footer.second{
	border-top: 1px solid #4d4e50;
	background-color: #333;
	opacity: 1.0;
	max-height: 40px;
	text-align: center;
}
div #about{
  width: 29%;
  float: right;
  margin: 2% 3%;
  padding: 0 2%;
  text-align: center;
  border: solid;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75); 
  height: auto;
}


/*----------------------Top Navigation Bar-----------------------------*/
/*Used from W3schools*/


ul.topnav {
  position: fixed;
  list-style-type: none;
  background-color: #333;
  width: 100%;
  z-index: 100;
}
ul.topnav li {
  float: right;
  display: inline-block;
  padding: 10px;
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .5s;
  font-size: 17px;
  list-style: none;
}
ul.topnav li a:hover {background-color: #2929a3;}
ul.topnav li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


/*---------------------Slide in Captions---------------------*/

figure {
  margin: auto;
  display: block;
  /*position: relative;*/
  overflow: hidden;
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }


/*-----------------------------Slider---------------------------------*/
/*By vijamis*/

ul.rslides {
  width: 100%;
  border-radius: 10px;
  border-width: .5%;
  border: solid;
  }

.rslides img{  
  border-radius: 6px;
  float: left;
}

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  z-index: 0;
  padding: 0;

  }

.centered-btns_tabs{
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li{
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a{
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

.centered-btns .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 15px;
  text-shadow: none;
  color: #fff;
  background: #555;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

  .download li{
    list-style-type: none;
    margin: 3% 5%;
  }
  .download li a{
    background-color: #666;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    padding: 10px; 
    color: #fff;

  }
  .download li a:hover{
    background-color: #bfbfbf;
    border-color: #fff;
    color: #000; 
  }

/*------------------------CountDown Timers---------------------------*/
/*By The Net  Ninja*/

#del-countdown{
  width: 850px;
  margin: 0 auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 0 2%;
  color: #fff;
  padding: 10px;
  width: 21%;
  border-radius: 10px;
  box-sizing: border-box;
}
#clock span:nth-child(1){
  background: #d1a648;
}
#clock span:nth-child(2){
  background: #000;
}
#clock span:nth-child(3){
  background: #d1a648;
}
#clock span:nth-child(4){
  background: #000;
}
#clock:after{
  content: "";
  display: block;
  clear: both;
}
#clock1 span{
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 0 2%;
  color: #fff;
  padding: 10px;
  width: 21%;
  border-radius: 10px;
  box-sizing: border-box;
}
#clock1 span:nth-child(1){
  background: #3647c7;
}
#clock1 span:nth-child(2){
  background: #f06400;
}
#clock1 span:nth-child(3){
  background: #3647c7;
}
#clock1 span:nth-child(4){
  background: #f06400;
}
#clock1:after{
  content: "";
  display: block;
  clear: both;
}
#clock2 span{
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 0 2%;
  color: #fff;
  padding: 10px;
  width: 21%;
  border-radius: 10px;
  box-sizing: border-box;
}
#clock2 span:nth-child(1){
  background: #ffc800;
}
#clock2 span:nth-child(2){
  background: #9c1500;
}
#clock2 span:nth-child(3){
  background: #ffc800;
}
#clock2 span:nth-child(4){
  background: #9c1500;
}
#clock2:after{
  content: "";
  display: block;
  clear: both;
}
#clock3 span{
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 0 2%;
  color: #fff;
  padding: 10px 5px;
  width: 21%;
  border-radius: 10px;
  box-sizing: border-box;
}
#clock3 span:nth-child(1){
  background: #397a37;
}
#clock3 span:nth-child(2){
  background: #9c1500;
}
#clock3 span:nth-child(3){
  background: #397a37;
}
#clock3 span:nth-child(4){
  background: #9c1500;
}
#clock3:after{
  content: "";
  display: block;
  clear: both;
}
#clock4 span{
  float: left;
  text-align: center;
  font-size: 30px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}
#clock4 span:nth-child(1){
  background: #fa5559;
}
#clock4 span:nth-child(2){
  background: #26c2b9;
}
#clock4 span:nth-child(3){
  background: #f6bc58;
}
#clock4 span:nth-child(4){
  background: #2dcb74;
}
#clock4:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #4a4949;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}